@import "../../assets/styles/variables";

.inner-page {
    display: flex;
    min-height: 100vh;
    background-color: $color-white;

    &__content {
        flex: 1;
        padding: 2.5rem 2.25rem 0.6875rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3.1875rem;
    }

    &__section {
        width: 100%;
        scroll-margin-top: 40px;
    }
}

@media (max-width: 600px) {
    .inner-page__content {
        gap: 40px;
    }
}