.custom-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    width: 100%;

    &__text {
        color: #ff4d4f;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin: 0;
        line-height: 1.2;
    }
}