$font-main: 'Open Sans', sans-serif;


$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;


$color-midnight: #0b132b;
$color-oxford-blue: #1c2541;
$color-shamrock: #10b981;
$color-raven: #5c677d;
$color-gallery: #EEEEEE;
$color-alto: #d1d5db;
$color-white: #ffffff;
$color-black: #000000;